<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="identity" class="navigation col-lg-1">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="clearfix"></div>
<div *ngIf="identity" class="navigation col-lg-11">
  <p>Esta slogueado en la aplicación</p>
</div>


<div class="container" *ngIf="!identity" >
    <div class="row">
      <div class="col-md-6">
          <h3 class="dark-grey">Identificate</h3>
          <form #loginForm="ngForm">
              <p>
                <label for="">Correo Electronico:</label>
                <input type="text" class="form-control" required />
              </p>
              <p>
                <label for="">Contraseña:</label>
                <input type="password" name="" class="form-control" />
              </p>
              <input type="submit" value="Entrar" class="btn btn-primary" />
          </form>
      </div>
      <div class="col-md-6">
          <h3 class="dark-grey">Registrate</h3>
          <form action="">
            <p>
              <label for="">Nombre:</label>
              <input type="text" class="form-control" required />
            </p>
            <p>
              <label for="">Apellidos</label>
              <input type="text" class="form-control" required />
            </p>
            <p>
              <label for="">Correo Electronico</label>
              <input type="text" class="form-control" required />
            </p>
            <p>
              <label for="">Contraseña</label>
              <input type="password" class="form-control" required >
            </p>
            <input type="submit" value="Entrar" class="btn btn-primary" />
          </form>
      </div>
    </div>
</div>
