<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="identity" class="navigation col-lg-1">
  <h1>
    {{ title }}
  </h1>
  <span class="btn btn-warning" (click)="logout()"> Cerrar sesión </span>
</div>
<div class="clearfix"></div>
<div *ngIf="identity" class="navigation col-lg-11">
  <p>Esta slogueado en la aplicación</p>
</div>


<div class="container" *ngIf="!identity" >
    <div class="row">
      <div class="col-md-6">
          <h3 class="dark-grey">Identificate</h3>
            <div *ngIf="errorMessage" >
              <div class="alert alert-info" role="alert">
                <strong>Error</strong> {{errorMessage}}
              </div>
            </div>
          <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
              <p>
                <label for="">Correo Electronico:</label>
                <input type="text" class="form-control" #email="ngModel" name="email" [(ngModel)]="user.email"  required />
                <span *ngIf="!email.valid && email.touched" >
                    El email es obligatorio.
                </span>
              </p>
              <p>
                <label for="">Contraseña:</label>
                <input type="password" name="password" #password='ngModel' [(ngModel)]='user.password' class="form-control" />
                <span *ngIf="!email.valid && email.touched" >
                  El password es obligatorio.
                </span>
              </p>
              <input type="submit" value="Entrar" class="btn btn-primary" />
          </form>
      </div>
      <div class="col-md-6">
          <h3 class="dark-grey">Registrate</h3>
          <div *ngIf="alertRegister" >
            <div class="alert alert-info" role="alert">
              {{alertRegister}}
            </div>
          </div>
          <form #loginForm="ngForm" (ngSubmit)="registerUser()">
            <p>
              <label for="">Nombre:</label>
              <input type="text" name="name" #name='ngModel' [(ngModel)]='user_register.name' class="form-control" required />
              <span *ngIf="!name.valid && name.touched" >
                El nombre es obligatorio.
            </span>
            </p>
            <p>
              <label for="">Apellidos</label>
              <input type="text" name="surname" #surname='ngModel' [(ngModel)]='user_register.surname' class="form-control" required />
              <span *ngIf="!surname.valid && surname.touched">
                Los Apellidos son obligatorios.
              </span>
            </p>
            <p>
              <label for="">Correo Electronico</label>
              <input type="text" name="email" #email='ngModel' [(ngModel)]='user_register.email' class="form-control" required />
              <span *ngIf="!email.valid && email.touched">
                El correo es obligatorio.
              </span>
            </p>
            <p>
              <label for="">Contraseña</label>
              <input type="password" name='password' #password='ngModel' [(ngModel)]="user_register.password" class="form-control" required >
            </p>
            <input type="submit" value="Entrar" class="btn btn-primary" />
          </form>
      </div>
    </div>
</div>
